
/* :: 11.0 Footer Area CSS */
.main-toke-area {
    background-color: #232323; }
    .main-toke-area .toke-widget .widget-title {
      margin-bottom: 45px; }
      .main-toke-area .toke-widget .widget-title h6 {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 0;
        color: #ffffff;
        margin-top: 10px;
        text-transform: uppercase; }
    .main-toke-area .toke-widget .toke-social-info {
      margin-top: 30px;
      display: block; }
      .main-toke-area .toke-widget .toke-social-info a {
        display: inline-block;
        color: #8e8e8e;
        margin-right: 25px; }
        .main-toke-area .toke-widget .toke-social-info a:hover, .main-toke-area .toke-widget .toke-social-info a:focus {
          color: #ffaf02; }
    .main-toke-area .toke-widget .single--blog-post {
      margin-bottom: 30px;
      position: relative;
      z-index: 1; }
      .main-toke-area .toke-widget .single--blog-post:last-child {
        margin-bottom: 0; }
      .main-toke-area .toke-widget .single--blog-post a {
        display: block;
        color: #8e8e8e;
        font-family: "Open Sans", sans-serif;
        margin-bottom: 5px; }
        .main-toke-area .toke-widget .single--blog-post a:hover {
          color: #ffaf02; }
        .main-toke-area .toke-widget .single--blog-post a p {
          margin-bottom: 0;
          -webkit-transition-duration: 500ms;
          transition-duration: 500ms; }
          .main-toke-area .toke-widget .single--blog-post a p:hover {
            color: #ffaf02; }
      .main-toke-area .toke-widget .single--blog-post span {
        margin-bottom: 0;
        font-size: 14px;
        color: #ffaf02; }
    .main-toke-area .toke-widget .useful-links li {
      display: inline-block;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
      width: 50%; }
      .main-toke-area .toke-widget .useful-links li a {
        font-size: 14px;
        font-family: "Open Sans", sans-serif;
        margin-bottom: 15px;
        display: block;
        color: #8e8e8e; }
        .main-toke-area .toke-widget .useful-links li a:hover, .main-toke-area .toke-widget .useful-links li a:focus {
          color: #ffaf02; }
  
  .bottom-toke-area {
    background-color: #090f1a;
    text-align: center;
    height: 60px; }
    .bottom-toke-area p {
      font-size: 14px;
      margin-bottom: 0;
      font-family: "Open Sans", sans-serif; }
      .bottom-toke-area p a {
        color: #8e8e8e;
        font-size: 14px;
        font-family: "Open Sans", sans-serif; }
        .bottom-toke-area p a:hover {
          color: #ffaf02; }